<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chk.openinput">

    <application
        android:allowBackup="true"
        android:icon="@drawable/input_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/input_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.chk.openinput.OpenInput">
            <intent-filter>
                <action android:name="com.chk.OpenInput.ClickOpenInput" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/open_input_info" />
        </receiver>

        <activity android:name="com.chk.openinput.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>